{% extends "home/base.html" %}

{% block placeholder %}
{% load static %}
{% load mathfilters %}
<style>
    .home-product-item__price-current {
        margin-left: 15px !important;
    }

    .fa-star {
        margin-right: 3px !important;
    }
</style>
<div class="container">
    <div class="grid">
        <div class="grid__row py-36" style="padding-top: 24px;">
            <div class="gird__col-12 w-100 mb-4"><span style="font-size: 15px;">Kết quả tìm kiếm cho từ khoá : </span><span style="font-size: 25px;color: red;" class="keyword"></span></div>
            <div class="gird__col-12 w-100">
                <div class="home-filter">
                    <div class="home-filter-left">
                        <label class="lable-fiter" for="">Lọc theo</label>
                        <button class="btn btn--primarys my-4 filter" onclick="getListByCate(this)" check=0>Tất cả</button>
                        <button class="btn my-4 bg-white filter" onclick="getListHotproductsApi(this)" check=1>Hot Nhất</button>
                        <button class="btn my-4 bg-white filter" onclick="getListSoldProduct(this)" check=2>Bán Chạy</button>
                        <div class="filter-select-price bg-white my-4">
                            <label for="">Giá</label>
                            <i class="fas fa-chevron-down"></i>
                            <div class="box-select-price">
                                <div class="box-select-price-item" onclick="getListProductOrderByPriceDesc()">Giá từ cao đến thấp</div>
                                <div class="box-select-price-item" onclick="getListProductOrderByPriceEsc()">Giá từ thấp đến cao</div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="home-filter-right">
                        <div class="home-filter-num">
                            <lable class="home-filter-curren">1</lable>/14                                   
                        </div>
                        <button class="btn bg-white btn-icon-page btn--disabled"><i class="fas fa-chevron-left"></i></buton>
                        <button class="btn bg-white btn-icon-page"><i class="fas fa-chevron-right"></i></button>
                    </div> -->
                </div>
                <!-- product -->
                <div class="home-product">
                    <div class="grid__row grid_row_data">
                        {% if first_products %}
                        {% for item in first_products %}
                 

                            <div class="gird__col-2-4">
                                <a href="/polls/products/{{item.id}}" class="home-product-item">
                                    <div class="home-product-item__img" style="background-image: url({%static 'img/'%}{{item.image}});">
                                    </div>
                                    <div class="home-product-item__info">
                                        <h4 class="home-product-item__name">{{item.nameproduct}}</h4>
                                        <div class="home-product-item__price">
                                            <span class="home-product-item__price-old">
                                                {{item.purchaseprice}}
                                            </span>
                                            <span class="home-product-item__price-current">
                                                {{item.purchaseprice|mul:item.saleprice}}
                                            </span>
                                        </div>
                                        <div class="home-product-item__action">
                                            <div class="home-product-item__action-like home-product-item__action-liked">
                                                <i class="far fa-heart icon-product-nolike"></i>
                                                <i class="fas fa-heart icon-product-like"></i>
                                            </div>
                                            <div class="home-product-item__action-rate">
                                                <i class="fas fa-star home-product-item__star-gold"></i>
                                                <i class="fas fa-star home-product-item__star-gold"></i>
                                                <i class="fas fa-star home-product-item__star-gold"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <span class="home-product-item__sold">50 đã bán</span>
                                        </div>
                                        <!-- <div class="home-product-item__origin">
                                            <div class="home-product-item__orgin-brand">Gucci</div>
                                            <div class="home-product-item__orgin-country">USA</div>
                                        </div>
                                        <div class="home-product-item__favourite">
                                            <i class="fas fa-check"></i>
                                            <span>Yêu thích</span>
                                        </div> -->
                                        <div class="home-product-item__sale">
                                            <span class="home-product-item__sale-percent" style="font-size: 12px;"> {{item.saleprice|mul:100}}%</span>
                                            <span class="home-product-item__sale-lable">GIẢM</span>
                                        </div>
                                    </div>
                                    
                                </a>
                            </div>


    
                        {% endfor %}
                        {% endif %} 
               
                    </div>  
                </div>
                <ul class="pagination mt-36" id="pagination-test">
        
                </ul>
            </div>
        </div>
    </div>
    

    <input type="hidden" value="{{key}}" id="key">

</div>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{%static 'js/search.js'%}"></script>

{% endblock %}