.img_item_search_trends{
    max-width: 100px; 
    max-height: 100px;
}
.w-50{
    width: 50%;
}
.description_item{
    padding: 1.25rem 0.25rem 0.25rem 0.25rem;
}
.title_search_trends{
    padding-top: 25px;
    background: #fff;
    height: 3.75rem;
    border-bottom: 1px solid rgba(0,0,0,.05);
    /* padding: 2.25rem; */
    padding-bottom: 47px;
}
span > h5 {
    font-size: 2rem;
    color: rgba(0,0,0,.54);
    font-weight: 500;
}
.w-20{
    width: 20%;
}
._2wthtC{
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-top: 1.25rem;
    color: #555;
    font-size: 18px;
    text-align: left;
    text-transform: capitalize;
    word-break: break-word;
}
a:hover {
    text-decoration: none !important;
    color :black !important;

}
.top_product{
    min-width: 75rem;
    border-bottom: 4px solid #ee4d2d;
    background-color: rgb(245, 245, 245);
    color: rgba(0,0,0,.54);
    /* border-bottom: solid; */
    padding-bottom: 50px;
}
._3PNTgJ {
    min-width: 40.375rem;
    height: 4rem;
}
.btn-light {
    background: #fff;
    color: #555;
    border: 1px solid rgba(0,0,0,.09);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
}
.item_category{

    width: 10%;
    text-decoration: none;
    color: rgba(0,0,0,.8);
    border-right: 1px solid rgba(0,0,0,.05);
    border-bottom: 1px solid rgba(0,0,0,.05);
    text-align: center;
    background-color: #fff;
    display: block;
    position: relative;
}
.name_category_index{
    color: rgba(0,0,0,.8);
    font-size: 1.5rem;
    text-decoration: none;
    line-height: 1.25rem;
    height: 2.5rem;
    margin-bottom: .625rem;
    word-break: break-word;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
li > a.breadcrumb_item{
    font-size: 1.5rem;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: 1.5rem !important;
    color: #6c757d;
    content: "/";
    font-size: 1.5rem;
}